target/
azure-deploy/
azure-deploy.zip
*.jar
!.mvn/wrapper/maven-wrapper.jar
*.publishsettings

.classpath
.project
.settings/
bin/
*.log
*.tmp
.metadata/
.idea/
*.iml
.env
application-local.properties
Thumbs.db
.DS_Store