<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified" />
    </handlers>

    <httpPlatform processPath="%JAVA_HOME_17_X64%\bin\java.exe"
                  arguments="-Dserver.port=%HTTP_PLATFORM_PORT% -Dspring.profiles.active=azure -jar &quot;%HOME%\site\wwwroot\app.jar&quot;"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\stdout"
                  startupTimeLimit="180"
                  processesPerApplication="1">
    </httpPlatform>
  </system.webServer>
</configuration>